<h1>Create new comment</h1>
<%#= form_for :comment, :html => {:controller => "comment", :action => "create" }, :html => {:method => :post} do |f| %>
<%= form_for :comment, :url => comments_create_path(:comment), :html => {:method => :post} do |f| %>


    <div class="form-group">
      <%= f.label :content, class: "control-label col-xs-2" %>
      <%= f.text_area :content, :cols => "20", :rows => "5" %>
    </div>

    <%= f.hidden_field :resourceid, :value => @resourceid  %>

    <%= f.hidden_field :type, :value =>  @type%>

    <%= f.hidden_field :userid, :value =>  @type%>

    <p>
      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
    </p>
<% end %>