<%= render '/breadcru' %>

<h1 style="margin-top: 0em">Universities</h1>

<%= link_to("Create new University", universities_new_path, {:class => "btn btn-default", style: "margin-down:10px"}) %>

<table class="table table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th>Typ</th>
    <th>Address</th>
  </tr>
</thead>

  <% @university.each do |fac| %>
    <tr class="table-row" data-href=<%= university_path(fac) %>>
      <td><%= fac.name %></td>
      <td><%= fac.typ %></td>
      <td><%= fac.address %></td>
    </tr>
  <% end %>

</table>

