<%= form_for :university, :html => {:class => "form-horizontal"} do |f| %>

    <div class="form-group">
      <%= f.label :name, class: "col-md-4 control-label" %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :address, class: "col-md-4 control-label" %>
      <%= f.text_field :address %>
    </div>

     <div class="form-group">
      <%= f.label :typ, class: "col-md-4 control-label" %>
      <%= f.text_field :typ%>
     </div>

    <p>
      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
    </p>
<% end %>
