<h1> <%= @university.name %></h1>
<h4> Typ: <%= @university.typ %> Address: <%= @university.address %></h4>

<li> <%=link_to("create course", courses_new_path(university_id: @university), {:class => "btn btn-default", style: "margin-down:10px"})%></li>


<table class="table table-hover">
  <thead>
  <th>Name</th>
  <th>Description</th>
  </thead>

  <% @course.each do |cou| %>
      <tr class="table-row" data-href=<%= university_course_path(@university, cou) %>>
        <td><%= cou.name %></td>
        <td><%= cou.description %></td>
      </tr>
  <%end%>
</table>