<h1> <%= @university.name %></h1>
<h4> Typ: <%= @university.typ %> Address: <%= @university.address %></h4>

<li> <%=link_to("create course", courses_new_path(university_id: @university), {:class => "btn btn-default", style: "margin-down:10px"})%></li>


<table class="table">
  <th>Name</th>
  <th>Description</th>

  <% @course.each do |cou| %>
      <tr>
        <td><%= link_to(cou.name, university_path(cou)) %></td>
        <td><%= cou.description %></td>
      </tr>
  <%end%>
</table>